<section id="pantalladiv">
    <div class="izquierdaarriba">
        <img src="https://cdn.shopify.com/s/files/1/0409/9041/products/6soic_62f818c0-766c-47f0-8575-072c9af85a29_grande.png?v=1623945227
        " width="500" height="400" />
    </div>

    <div class="derechaarriba">
        <h1>2SD1384 Pequeña Señal</h1>
        <h5>Descripcion.</h5>
        <h5> El Transistor 2SC5395 de pequeña señal  con cinta de alimentación diseñado para su uso en aplicaciones de máquina automática de colocación.
        </h5>
        <li>Polaridad: NPN.</li>
        <li>Voltaje colector base VCBO: 40 V.</li>
        <li>Voltaje de colector emisor VCEO32 V.</li>
        <li>Corriente continua Ic: 2 A.</li>
        <li>Corriente pulsada: 2.5 A.</li>
        <li>Voltaje emisor base VEBO: 5 V.</li>
        <h3>3.00$ MXN</h3>
        <button class="menos">-</button>
        <input type="text" size="1" maxlength="30" value="1" name="nombre">
        <button class="mass">+</button>
        <button class="button">Agregar al carrito</button>
    </div>
</section>

<div class="paginanombredos">
    <h3>Mas componentes que te pueden interesar.</h3>
</div>
<div class="arriba">
    <div class="uno">
        <a href="Batería de Litio 3 V CR2477"><img src="https://cdn.shopify.com/s/files/1/0409/9041/products/1_0c76906a-1e95-4a31-98f4-7a1ccef32ce2_grande.png?v=1587136738
            " alt="facebook" width="150" height="150"></a>
        <h4>Batería de Litio 3 V CR2477</h4>
    </div>

    <div class="uno">
        <a href="PROTOBOARD CHICA 400 PUNTOS"><img src="https://cdn.shopify.com/s/files/1/1040/8806/products/photo_OS-00005_ProtoboardChica_400p_01_700x700.png?v=1595434654
            " alt="facebook" width="150" height="150"></a>
        <h4>PROTOBOARD CHICA 400 PUNTOS</h4>
    </div>

    <div class="uno">
        <a href="PROTOBOARD GRANDE 800 PUNTOS"><img src="https://cdn.shopify.com/s/files/1/1040/8806/products/photo_OS-00008_Proto_Grande_Blanca_10_700x700.png?v=1600808942
            " alt="facebook" width="150" height="150"></a>
        <h4>PROTOBOARD GRANDE 800 PUNTOS</h4>
    </div>
    <div class="tres">
        <a href="Arduino UNO R3 [A000066] Placa de microcontrolador"><img src="https://m.media-amazon.com/images/I/71z22cRPeeL.jpg" width="150"
            height="150"></a>
    <h4>Arduino UNO R3 [A000066] </h4>
    </div>

</div>