
<section id="pantalladiv">
    <div class="izquierdaarriba">
        <img src="https://cronicaglobal.elespanol.com/uploads/s1/43/76/71/2/componentes-electro-nicos.png" width="500"
            height="400" />
    </div>

    <div class="derechaarriba">
        <h1>¿Quienes somos?</h1>
        <h5>Tecnologyc share es una sitio web que consiste en llevar a cabo
            la comercialización productos de tecnología mediante un sitio
            web dónde ofrecemos un catálogo de productos basados en la
            disponibilidad de múltiples empresas electrónicas y tecnológicas.</h5>

        <h5>Con la finalidad de aportar a la distribución de bienes electrónicos
            a los que no se les tiene una disponibilidad en la zona, es decir
            a sitios un tanto más descentralizados o que no logran tener un
            fácil acceso a dichos componentes. </h5>

        <h5>El sitio web está basado en el modelo de negocios de Business to consumer (B2C), debido a
            que somos una empresa que ofrece una gran variedad de productos a
            los consumidores que están interesados en comprar dispositivos
            electrónicos y que no tienen acceso debido a la zona en la que
            se encuentra. Esto se piensa relacionado en la gran problemática
            que conlleva y que está presente en el día a día de muchas
            personas, ya que muchas veces al querer llevar un proyecto escolar
            a cabo muchas de la veces los negocios locales no lo suficientemente
            propensos a contar con los materiales requeridos, en base a ello
            nace esta propuesta con la cual se piensa realizar la distribución
            de dichos componentes con el fin de que esto no sea una problemática,
            con esto buscamos atacar un problema realmente muy directo.
        </h5>
    </div>
</section>

<section id="pantalladiv">

    <div class="izquierdaarriba">

        <h1>Acercate mas a nosotros.</h1>

        <h5>Redes Sociales.</h5>

        <div class="social">
            <a href="https://www.facebook.com/cristianarturo.navarromedina"><img
                    src="https://img2.freepng.es/20180715/hrw/kisspng-facebook-like-button-black-and-white-computer-icon-facebook-market-5b4b4ae489fa29.7942317215316610285652.jpg "
                    alt="facebook" width="50" height="50"></a>
            <a href="https://www.youtube.com/channel/UC5FW8YTobz7mTASfVa-WK9Q/videos"><img
                    src="https://i.pinimg.com/originals/20/9b/d8/209bd859c265e7ffc4bfeb75877b23f7.png" alt="youtube"
                    width="55" height="55"> </a>
            <a href="https://www.instagram.com/cristv1236/"><img src="https://i.pinimg.com/originals/ca/24/1b/ca241b8daf67ebf7f2d902104620d3f4.png"
                    alt="instagram" width="50" height="50"></a>
        </div>
    </div>

    <div class="derechaarriba">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3747.388847177329!2d-102.27426788581465!3d20.076025824994723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842e8fe8d905ea63%3A0xd95f01641c446914!2sInstituto%20Tecnol%C3%B3gico%20de%20Estudios%20Superiores%20de%20Zamora!5e0!3m2!1ses!2smx!4v1653105107154!5m2!1ses!2smx"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade" width="550" height="300"></iframe>
    </div>

</section>