<div>
   <div *ngIf="!Autocarga">
       {{autosave()}}
   </div>
    
</div>
<div *ngIf="hayerror">
    no se encontro error {{nombreproducto}}
</div>
<div>
    <table>
        
        <div class ="arriba" *ngIf="!hayerror" id="arriba">
            <div class="uno">
            <tr *ngFor="let p of produc">
                
                <th class="titulo" id="titulo">{{p.NombreProducto}}</th>
                <br>  <th><img src="{{p.FotoProducto}}" width="150" height="150"></th>
                <th class="titulo" id="titulo">{{p.DescripcionProducto}}</th>
                <th class="titulo" id="titulo">{{p.CantidadExistenciaP}}</th>
                <th class="titulo" id="titulo">{{p.DireccionProducto}}</th>
                <th class="titulo" id="titulo">{{p.CantidadCompraP}}</th>
                <th class="titulo" id="titulo">{{p.CategoriaProducto}}</th>
            </tr>
        </div>
        </div>
        
    </table>
</div>