<section id="pantalladiv">
    <div class="izquierdaarriba">
        <img src="https://cdn.shopify.com/s/files/1/0409/9041/products/16pines_fb43ac7d-db92-48e2-89eb-7cb223ed8017_grande.png?v=1611246712
        " width="500" height="400" />
    </div>

    <div class="derechaarriba">
        <h1>74HC148N CMOS Codificador Octal 8 a 3 Lineas</h1>
        <h5>Descripcion.</h5>
        <h5> El SN74HC148N es un codificador de prioridad de 8 a 3 líneas que cuenta con una decodificación de prioridad de las entradas para garantizar que sólo se codifica la línea de datos de orden más alto. Las entradas y salidas de datos están activas en el nivel lógico bajo.
        </h5>
        <li>Las salidas pueden conducir hasta 10 cargas LSTTL.</li>
        <li>± 4mA Accionamiento de salida a 5V.</li>
        <li>Codificar 8 datos a 3 líneas binarias.</li>
        <li>Tipo circuito lógico: Enclavador de fase ajustable.</li>
        <li>Encapsulado: DIP.</li>
        <li>Aplicaciones: Industrial, comunicaciones y red.</li>
        <h3>29.90$ MXN</h3>
        <button class="menos">-</button>
        <input type="text" size="1" maxlength="30" value="1" name="nombre">
        <button class="mass">+</button>
        <button class="button">Agregar al carrito</button>
    </div>
</section>

<div class="paginanombredos">
    <h3>Mas componentes que te pueden interesar.</h3>
</div>
<div class="arriba">
    <div class="uno">
        <a href="Batería de Litio 3 V CR2477"><img src="https://cdn.shopify.com/s/files/1/0409/9041/products/1_0c76906a-1e95-4a31-98f4-7a1ccef32ce2_grande.png?v=1587136738
            " alt="facebook" width="150" height="150"></a>
        <h4>Batería de Litio 3 V CR2477</h4>
    </div>

    <div class="uno">
        <a href="PROTOBOARD CHICA 400 PUNTOS"><img src="https://cdn.shopify.com/s/files/1/1040/8806/products/photo_OS-00005_ProtoboardChica_400p_01_700x700.png?v=1595434654
            " alt="facebook" width="150" height="150"></a>
        <h4>PROTOBOARD CHICA 400 PUNTOS</h4>
    </div>

    <div class="uno">
        <a href="PROTOBOARD GRANDE 800 PUNTOS"><img src="https://cdn.shopify.com/s/files/1/1040/8806/products/photo_OS-00008_Proto_Grande_Blanca_10_700x700.png?v=1600808942
            " alt="facebook" width="150" height="150"></a>
        <h4>PROTOBOARD GRANDE 800 PUNTOS</h4>
    </div>
    <div class="tres">
        <a href="Arduino UNO R3 [A000066] Placa de microcontrolador"><img src="https://m.media-amazon.com/images/I/71z22cRPeeL.jpg" width="150"
            height="150"></a>
    <h4>Arduino UNO R3 [A000066] </h4>
    </div>

</div>