<section id="pantalladiv">
    <div class="izquierdaarriba">
        <img src="https://cdn.shopify.com/s/files/1/1040/8806/products/photo_OS-00005_ProtoboardChica_400p_01_700x700.png?v=1595434654
        " width="500" height="400" />
    </div>

    <div class="derechaarriba">
        <h1>PROTOBOARD CHICA 400 PUNTOS</h1>
        <h5>Descripcion.</h5>
        <h5> Los Protoboards que te ofrecemos están fabricados con materiales de calidad, un plástico que funcionará
            como aislante y numerosas láminas delgadas, hechas de una aleación de cobre, estaño y fósforo que une las
            perforaciones de la placa, creando una serie de líneas de conexión paralela entre los orificios, lo que te
            permitirá tener una máxima conectividad siempre en tus manos.


        </h5>
        <li>Dimensiones: 3.29 x 2.15 x 0.33" (83.5 x 54.5 x 8.5mm).</li>
        <li>2 buses de potencia.</li>
        <li>10 columnas y 30 filas, un total de 400 puntos de conexión.</li>
        <li>Todos los pines están espaciados por un estándar de 0.1.</li>
        <li>Los dos conjuntos de cinco columnas están separados por aproximadamente 0.3.</li>
        <li>La placa acepta tamaños de cable en el rango de 20-29 AWG.</li>
        <button class="menos">-</button>
        <input type="text" size="1" maxlength="30" value="1" name="nombre">
        <button class="mass">+</button>
        <button class="button">Agregar al carrito</button>
    </div>
</section>

<div class="paginanombredos">
    <h3>Mas componentes que te pueden interesar.</h3>
</div>
<div class="arriba">
    <div class="uno">
        <a href="ProductoUno"><img src="https://m.media-amazon.com/images/I/71z22cRPeeL.jpg" width="150"
                height="150"></a>
        <h4>Arduino UNO R3 [A000066] Placa de microcontrolador</h4>
    </div>

    <div class="uno">
        <a href="Productodos"><img src="https://cdn.shopify.com/s/files/1/1040/8806/products/photo_OS-00008_Proto_Grande_Blanca_10_700x700.png?v=1600808942
                " alt="facebook" width="150" height="150"></a>
        <h4>PROTOBOARD GRANDE 800 PUNTOS</h4>
    </div>

    <div class="uno">
        <a href="Productotres"><img src="https://cdn.shopify.com/s/files/1/1040/8806/products/photo_OS-00005_ProtoboardChica_400p_01_700x700.png?v=1595434654
                " alt="facebook" width="150" height="150"></a>
        <h4>PROTOBOARD CHICA 400 PUNTOS</h4>
    </div>
    <div class="tres">
        <a href="Productocuatro"><img src="https://elecan3d.com/995-large_default/cable-dupont-macho-macho-30cm.jpg"
                alt="facebook" width="150" height="150"></a>
        <h4>Cable Dupont Macho-Macho 30cm</h4>
    </div>

</div>