<section id="pantalladiv">
    <div class="izquierdaarriba">
        <img src="https://elecan3d.com/995-large_default/cable-dupont-macho-macho-30cm.jpg
        " width="500" height="400" />
    </div>

    <div class="derechaarriba">
        <h1>Cable Dupont Macho-Macho 30cm</h1>
        <h5>Descripcion.</h5>
        <h5> Con este cable dupont macho macho 30cm realiza tus conexiones de forma más profesional, sin soldaduras, sin
            falsos contactos y sin desorden. Los cables vienen en un arnés de cable plano de 20 conductores, cada uno
            con su conector independiente. Puedes separarlos todos y utilizarlos de manera individual.

            Un cable dupont para prototipos, es un cable con un conector en cada punta, que se usa normalmente para
            interconectar entre sí los componentes en una placa de pruebas. Se utilizan de forma general para transferir
            señales eléctricas de cualquier parte de la placa de prototipos.
        </h5>
        <li>30 centímetros de longitud.</li>
        <li>20 Piezas por arnés.</li>
        <li>Conector Dupont Macho en ambos extremos.</li>
        <li>Colores variados en el arnés.</li>
        <li>Excelente conductividad eléctrica.</li>
        <li>Espaciado estándar 0.1″ (10 milésimas de pulgada) entre conexiones.</li>
        <h3>30.00$ MXN</h3>
        <button class="menos">-</button>
        <input type="text" size="1" maxlength="30" value="1" name="nombre">
        <button class="mass">+</button>
        <button class="button">Agregar al carrito</button>
    </div>
</section>

<div class="paginanombredos">
    <h3>Mas componentes que te pueden interesar.</h3>
</div>
<div class="arriba">
    <div class="uno">
        <a href="PoiLee 1N5408 - 30 unidades de diodos"><img
            src="https://m.media-amazon.com/images/I/5128rVjF6WL._SX342_.jpg" alt="facebook"
            width="150" height="150"></a>
    <h4>PoiLee 1N5408 - 30 unidades de diodos de 3 A 1000 V</h4>
    </div>

    <div class="uno">
        <a href="2SD1384 Pequeña Señal"><img src="https://cdn.shopify.com/s/files/1/0409/9041/products/6soic_62f818c0-766c-47f0-8575-072c9af85a29_grande.png?v=1623945227" width="150"
            height="150"></a>
    <h4>2SD1384 Pequeña Señal</h4>
    </div>

    <div class="uno">
        <a href="Cerradura Electrónica Solenoide 12 V para Puerta"><img src="https://cdn.shopify.com/s/files/1/0409/9041/products/z_948cbf72-8547-4eca-a18b-913ef596bd46_grande.png?v=1642180473" width="150"
            height="150"></a>
    <h4>Cerradura Electrónica Solenoide 12 V para Puerta</h4>
    </div>
    <div class="tres">
        <a href="Cable Dupont Macho-Macho 30cm"><img
            src="https://elecan3d.com/995-large_default/cable-dupont-macho-macho-30cm.jpg" alt="facebook"
            width="150" height="150"></a>
    <h4>Cable Dupont Macho-Macho 30cm</h4>
    </div>

</div>