<section id="pantalladiv">
    <div class="izquierdaarriba">
        <img src="https://cdn.shopify.com/s/files/1/1040/8806/products/photo_OS-00008_Proto_Grande_Blanca_10_700x700.png?v=1600808942
        " width="500" height="400" />
    </div>

    <div class="derechaarriba">
        <h1>PROTOBOARD GRANDE 800 PUNTOS</h1>
        <h5>Descripcion.</h5>
        <h5>Con nuestros Protoboards puedes conseguir armar con facilidad un circuito o proyecto electrónico sin
            necesidad de realizar soldaduras, para que hagas todas las pruebas necesarias antes de comenzar con tus
            proyectos electrónicos.
        </h5>
        <li>Dimensiones: 6.5 x 2.1 x 0.38 "(165.1 x 54.29 x 9.68 mm).</li>
        <li>2 buses de alimentación.</li>
        <li>10 columnas y 63 filas, con un total de 830 puntos de empate.</li>
        <li>Todos los pines están espaciados por un estándar de 0.1.</li>
        <li>Los dos conjuntos de cinco columnas están separados por aproximadamente 0.3.</li>
        <li>La placa acepta tamaños de cable en el rango de 20-29 AWG.</li>
        <button class="menos">-</button>
        <input type="text" size="1" maxlength="30" value="1" name="nombre">
        <button class="mass">+</button>
        <button class="button">Agregar al carrito</button>
    </div>
</section>

<div class="paginanombredos">
    <h3>Mas componentes que te pueden interesar.</h3>
</div>
<div class="arriba">
    <div class="uno">
        <a href="ProductoUno"><img src="https://m.media-amazon.com/images/I/71z22cRPeeL.jpg" width="150"
                height="150"></a>
        <h4>Arduino UNO R3 [A000066] Placa de microcontrolador</h4>
    </div>

    <div class="uno">
        <a href="Productodos"><img src="https://cdn.shopify.com/s/files/1/1040/8806/products/photo_OS-00008_Proto_Grande_Blanca_10_700x700.png?v=1600808942
                " alt="facebook" width="150" height="150"></a>
        <h4>PROTOBOARD GRANDE 800 PUNTOS</h4>
    </div>

    <div class="uno">
        <a href="Productotres"><img src="https://cdn.shopify.com/s/files/1/1040/8806/products/photo_OS-00005_ProtoboardChica_400p_01_700x700.png?v=1595434654
                " alt="facebook" width="150" height="150"></a>
        <h4>PROTOBOARD CHICA 400 PUNTOS</h4>
    </div>
    <div class="tres">
        <a href="Productocuatro"><img src="https://elecan3d.com/995-large_default/cable-dupont-macho-macho-30cm.jpg"
                alt="facebook" width="150" height="150"></a>
        <h4>Cable Dupont Macho-Macho 30cm</h4>
    </div>

</div>