<section id="pantalladiv">
    <div class="izquierdaarriba">
        <img src="https://m.media-amazon.com/images/I/71z22cRPeeL.jpg
        " width="500" height="400" />
    </div>

    <div class="derechaarriba">
        <h1>Arduino UNO R3 [A000066] Placa de microcontrolador</h1>
        <h5>Descripcion.</h5>
        <h5> Esta placa es tu entrada a la experiencia única de Arduino: ideal para aprender los conceptos básicos de
            cómo funcionan los sensores y actuadores, y una herramienta esencial para tus necesidades de protoescritura
            rápida
            Arduino Uno es el tablero más utilizado y documentado del mundo
            "Uno" significa uno en italiano y fue elegido para marcar el lanzamiento de Arduino Software (IDE) 1.0,
            ahora evolucionado a versiones más recientes
        </h5>
        <li>Tiene 14 pines de entrada/salida digitales (de los cuales 6 se pueden utilizar como salidas PWM).</li>
        <li>6 entradas analógicas.</li>
        <li>Un vidrio de cuarzo de 16 MHz.</li>
        <li>Una conexión USB.</li>
        <li>Un conector de alimentación.</li>
        <li>Un encabezado ICSP y un botón de reinicio.</li>
        <h3>240.10$ MXN</h3>
        <button class="menos">-</button>
        <input type="text" size="1" maxlength="30" value="1" name="nombre">
        <button class="mass">+</button>
        <button class="button">Agregar al carrito</button>
    </div>
</section>

<div class="paginanombredos">
    <h3>Mas componentes que te pueden interesar.</h3>
</div>
<div class="arriba">
    <div class="uno">
        <a href="Batería de Litio 3 V CR2477"><img src="https://cdn.shopify.com/s/files/1/0409/9041/products/1_0c76906a-1e95-4a31-98f4-7a1ccef32ce2_grande.png?v=1587136738
            " alt="facebook" width="150" height="150"></a>
        <h4>Batería de Litio 3 V CR2477</h4>
    </div>

    <div class="uno">
        <a href="PROTOBOARD CHICA 400 PUNTOS"><img src="https://cdn.shopify.com/s/files/1/1040/8806/products/photo_OS-00005_ProtoboardChica_400p_01_700x700.png?v=1595434654
            " alt="facebook" width="150" height="150"></a>
        <h4>PROTOBOARD CHICA 400 PUNTOS</h4>
    </div>

    <div class="uno">
        <a href="PROTOBOARD GRANDE 800 PUNTOS"><img src="https://cdn.shopify.com/s/files/1/1040/8806/products/photo_OS-00008_Proto_Grande_Blanca_10_700x700.png?v=1600808942
            " alt="facebook" width="150" height="150"></a>
        <h4>PROTOBOARD GRANDE 800 PUNTOS</h4>
    </div>
    <div class="tres">
        <a href="Arduino UNO R3 [A000066] Placa de microcontrolador"><img src="https://m.media-amazon.com/images/I/71z22cRPeeL.jpg" width="150"
            height="150"></a>
    <h4>Arduino UNO R3 [A000066] </h4>
    </div>

</div>