<header id="main-header">
		
    <a id="logo-header" href="#">
        <span class="site-name">Tecnologyc Share</span>
        <span class="site-desc">Contribuyendo con tu crecimiento</span>
    </a>

    <nav>
        <ul>
            <li><a href="C:\Users\Richar\Desktop\pagina-web\src\app\index\index.component.html">Inicio</a></li>
            <li><a href="#">Paquetes</a></li>
            <li><a href="#">Community</a></li>
            <li><a href="#">Ayuda</a></li>
            <li><a href="C:\Users\Richar\Desktop\pagina-web\src\app\infopagina\infopagina.component.html">Acerca de nosotros</a></li>
            <li class="buscador">
                <div class="container-1">
                    <span class="icon"><i class="fa fa-search"></i></span>
                    <input type="search" id="search" placeholder="Search..." />
                </div>
            </li>
        </ul>
    </nav>

</header>